@model List<UserObj>

@{

    ViewBag.Title = "Каталог пользователей";

}

<h2>Каталог пользователей</h2>
@if (Model != null)
{
    <table class="table table-striped">
        @foreach (var item in Model)

        {

            <tr>

                <td>
                    <a asp-action="Profile" asp-controller="Insta" asp-route-Id="@item.Id">
                        <img src="@item.Avatar" alt="Alternate Text" width="50" height="50" class="rounded-circle mr-5"/> @Html.DisplayFor(modelItem => item.Login)
                    </a>
                </td>

            </tr>

        }

    </table>
}else
            {
                <h5>Пользователи не найдены :(</h5>
            }

